<div class="min-size">
<form class="vertical-list card"
      action="{{ url_for('create_requirement_from_ci') if is_from_ci else url_for('create_requirement') }}"
      method="POST">

    {% if is_from_ci %}
    <span><strong>Créer et ajouter un requirement</strong></span>
    {% else %}
    <span><strong>Créer un requirement</strong></span>
    {% endif %}

    <div class="vertical-list mini-gap">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" value="">
    </div>

    <div class="vertical-list mini-gap">
        <label for="description">Description</label>
        <input id="description" name="description" value="">
    </div>

    {% if is_from_ci %}
    <input type="hidden" name="ci_id" value="{{ ci.ci_id }}">
    <div class="vertical-list mini-gap">
        <label for="quantity">Quantité (g)</label>
        <input type="number" id="quantity" name="quantity" value="">
    </div>
    {% endif %}
    <div class="min-size">
    <button class="primary" type="submit"><i class="pi pi-check-circle"></i>Créer requirement</button>
    </div>
</form>
</div>