
  <div class="card vertical-list">
    <span><strong>Recettes ajoutées à la liste</strong></span>
    <div class="vertical-grid-3 ">

    {% for ci in ci_added_list %}
    <div class="card2 vertical-list mini-gap">
      <img class="max-img" src="{{ url_for('static', filename='images/cis/'+ci.id|string+'.png') }}"
           alt="Image" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/cis/ci_default.png') }}';">
      <span><strong>{{ci.name}}</strong></span>
      <form action="{{ url_for('remove_ci_from_list') }}" method="POST">
        <input type="hidden" name="ci_id" value="{{ ci.id }}">
          <button class="danger" type="submit" > <i class="pi pi-directions-alt"></i>Retirer de la liste
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
  </div>
