
<div class="card vertical-list">

    <div class="space">
        <span><strong>Propositions de recettes</strong></span>
        <form action="{{url_for('create_ci')}}">
            <button class="success" type="submit">
                <i class="pi pi-file-plus"></i> Créer une recette
            </button>
        </form>
    </div>
    <div class="vertical-grid-3 ">
        {% for ci in ci_list %}
            <div class="card2 vertical-list mini-gap">
                <img class="max-img" src="{{ url_for('static', filename='images/cis/'+ci.id|string+'.png') }}"
                     alt="Image" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/cis/ci_default.png') }}';">
                <span><strong>{{ci.name}}</strong></span>
                <span>{{ ci.description }}</span>

                <form action="{{ url_for('add_ci_to_list') }}" method="POST">
                    <input type="hidden" name="ci_id" value="{{ ci.id }}">
                    <button class="success" type="submit">
                        <i class="pi pi-directions"></i>
                        Ajouter à la liste
                    </button>
                </form>

                <form action="{{url_for('manage_ci', ci_id=ci.id)}}">
                    <button class="primary" type="submit">
                        <i class="pi pi-file-edit"></i> Modifier la recette
                    </button>
                </form>

            </div>
        {% endfor %}
    </div>
</div>

